<div class="menu-bar__container">
	<div class="menu-bar__logo">
		<img
			src="assets/ps-logo.png"
			alt="playstation logo"
			srcset=""
			width="140px"
			height="32px"
		>
	</div>
  <div class="menu-bar__item">
    <ul>
      <li class="active"><a href="#">Novidades</a></li>
      <li><a href="#">Coleções</a></li>
      <li><a href="#">Ofertas</a></li>
      <li><a href="#">PS5</a></li>
      <li><a href="#">Assinaturas</a></li>
    </ul>
  </div>
	<div class="menu-bar__item">
		<ul>
			<li><a href="https://linkedin.com/in/ivanconsalter" target="_blank">Linkedin</a></li>
      <li><a href="https://github.com/ivanconsalter" target="_blank">Github</a></li>
		</ul>
	</div>
</div>
